<tr>
  <td class="text-center">
    <%= subject.name %>
  </td>
  <td class="text-center">
    <%= subject.description %>
  </td>
  <td class="text-center">
    <%= l subject.created_at, format: :date_user_create %>
  </td>
  <td class="text-center">
    <%= link_to edit_admin_subject_path(subject) do %>
      <span class="glyphicon glyphicon-edit"></span>
      <%= t "admin.subject_admin.edit" %>
    <% end %>
  </td>
  <td class="text-center">
    <%= link_to admin_subject_path(subject), method: :delete,
      data: {confirm: t("admin.subject_admin.confirm_delete")},
      class: "text-danger" do %>
      <span class="glyphicon glyphicon-trash"></span>
      <%= t "admin.subject_admin.delete" %>
    <% end %>
  </td>
</tr>
