<div class="body_wrapper body_home">
  <div class="home">
    <div class="container-fluid home-index">
      <div class="container">
        <div class="text-content">
          <div class="content">
            <div class="content-title">
              <%= t "home.introduce" %>
            </div>
            <div class="content-lead-in">
              <i><%= t "home.description" %></i>
            </div>
            <%= link_to t("basic"), "#", class: "page-scroll btn btn-xl btn-box"  %>
            <%= link_to t("advance"), "#", class: "btn btn-xl btn-box"  %>
          </div>
        </div>
      </div>
    </div>
    <section id="principles">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="title section-heading">
              <%= t "training" %>
            </h2>
            <h3 class="section-subheading text-muted">
              <%= t "home.introduce_training" %>
            </h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <%= image_tag "tutorial.png" %>
            </span>
            <h4 class="service-heading">
              <%= t "home.tutorial.title" %>
            </h4>
            <p class="text-muted">
              <%= t "home.tutorial.description" %>
            </p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <%= image_tag "project1.png" %>
            </span>
            <h4 class="service-heading">
              <%= t "home.tutorial.title" %>
            </h4>
            <p class="text-muted">
              <%= t "home.project1.description" %>
            </p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <%= image_tag "project2.png" %>
            </span>
            <h4 class="service-heading">
              <%= t "home.project2.title" %>
            </h4>
            <p class="text-muted">
            <%= t "home.project2.description" %>
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="counters">
      <div class="container">
        <div class="row">
          <div class="text-center">
            <h2 class="title">
              <%= t "development.title" %>
            </h2>
            <h3 class="content">
              <%= t "development.description" %>
            </h3>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="counters-v2">
              <i class="counters-v2-icon fa fa-book"></i>
              <figure class="counter color-base counters-v2-no">
                <%= t "number" %>
              </figure>
              <h4 class="counters-v2-title">
                <%= t "courses" %>
              </h4>
              <span class="counters-v2-subtitle">
              <%= t "complete" %>
              </span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="counters-v2">
              <i class="counters-v2-icon fa fa-mortar-board"></i>
              <figure class="counter color-base counters-v2-no">
                <%= t "number" %>
              </figure>
              <h4 class="counters-v2-title">
                <%= t "trainees" %>
              </h4>
              <span class="counters-v2-subtitle">
                <%= t "learning" %>
              </span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="counters-v2">
              <i class="counters-v2-icon fa fa-users"></i>
              <figure class="counter color-base counters-v2-no">
                <%= t "number" %>
              </figure>
              <h4 class="counters-v2-title">
                <%= t "learning" %>
              </h4>
              <span class="counters-v2-subtitle">
                <%= t "manage" %>
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
