<div id="sidebar-left" class="span2">
  <div class="nav-collapse sidebar-nav">
    <ul class="nav nav-tabs nav-stacked main-menu">
      <li class="active">
        <%= link_to "#" do %>
          <i class="fa fa-gift"></i>
          <span class="hidden-tablet"><%= t "courses" %></span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_subjects_path do %>
          <i class="fa fa-folder-open"></i>
          <span class="hidden-tablet"><%= t "subject" %></span>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
          <i class="fa fa-user"></i>
          <span class="hidden-tablet"><%= t "user" %></span>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
          <i class="fa fa-tasks"></i>
          <span class="hidden-tablet"><%= t "evaluation" %></span>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
          <i class="fa fa-star"></i>
          <span class="hidden-tablet"><%= t "role" %></span>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
          <i class="fa fa-envelope"></i>
          <span class="hidden-tablet"><%= t "report" %></span>
        <% end %>
      </li>
    </ul>
  </div>
</div>
